<div class="one column row">
    <div class="ui fluid input">
        {{input type='text' placeholder='Filter...' value=searchKeyword}}
    </div>
</div>

<div class="ui divider"></div>

<div class="ui stackable three column container grid">
    {{#each filteredFlights as |flight|}}
        <div class="column">
            {{flight-card flight=flight}}
        </div>
    {{/each}}
</div>
