<div class="ui secondary pointing menu">
    {{#link-to 'index' class="item"}}
        Home
    {{/link-to}}
    {{#link-to 'flights' class="item"}}
        Flights
    {{/link-to}}
</div>

{{liquid-outlet}}
